# Homework

## MVP
## Q1

In [4]:
shopping = ['spam','ham','eggs','ham']
shopping

['spam', 'ham', 'eggs']

In [5]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [7]:
shopping[-1]

'ham'

## Q2

In [8]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [9]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [10]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [12]:
stops.index("Croy")

1

In [13]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [14]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [15]:
del stops
stops

NameError: name 'stops' is not defined

## Q3

In [16]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [17]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [18]:
person.values()

dict_values(['Steph', 31, True])

In [19]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [20]:
person["email"] = "steph@codeclan.com"
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True), ('email', 'steph@codeclan.com')])

In [21]:
person.pop("Instructor")
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('email', 'steph@codeclan.com')])

## Q4

In [22]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [30]:
# normal way
for n in numbers:
    if n % 2 == 0:
        print(n, end =" ")

# lambda function attempt...
even_numbers = list(filter(lambda x: (x % 2 == 0), numbers))
print("\nlambda test: All even numbers: ", even_numbers)

6 2 2 6
lambda test: All even numbers:  [6, 2, 2, 6]

In [33]:
print(f"difference between \nmax:{max(numbers)} and min:{min(numbers)} \nis {max(numbers) - min(numbers)}")

difference between
max:99 and min:1
is 98

In [39]:
def check_22(lst):
    for i in range(len(lst)-1):
        if (lst[i] == 2) & (lst[i+1] == 2):
           return True
    return False

print(check_22(numbers))
print(check_22([1,2,3,4,5]))
print(check_22([1,2,3,2,2]))

True
False
True

In [45]:
sum_of_nums = 0

def sum_of_nums(nums):
    
    sum_of_nums = 0
    flag = True
    
    for n in nums:

        if n == 6:
            flag = False
        elif n == 7:
            flag = True
            continue
        
        if flag == True:
            sum_of_nums += n
            
    return(sum_of_nums)

print(sum_of_nums([11, 6, 4, 99, 7, 11]))

22

## Q5

In [48]:
python_is_fun = True
python_is_weird = True

In [49]:
def woo_python(is_fun, is_weird):
    if (is_fun == False) & (is_weird == False):
        return("Python is not for me!")
    else:
        return("Woo Python!")

print(f"expected: Woo Python! ~ result:{woo_python(python_is_fun,python_is_weird)}")    
print(f"expected: Woo Python! ~ result:{woo_python(False,True)}")
print(f"expected: Woo Python! ~ result:{woo_python(True,False)}")
print(f"expected: Python is not for me! ~ result:{woo_python(False,False)}")

expected: Woo Python! ~ result:Woo Python!
expected: Woo Python! ~ result:Woo Python!
expected: Woo Python! ~ result:Woo Python!
expected: Python is not for me! ~ result:Python is not for me!

## Q6

In [54]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

In [55]:
def eggs_collected(egg_lst):
    total_eggs = 0
    
    for chicken in egg_lst:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected

    return(f"{total_eggs} eggs were collected")

eggs_collected(chickens)

'4 eggs were collected'

# Extensions
## Q1

In [56]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [57]:
united_kingdom[1]["capital"] = "Cardiff"

print(united_kingdom)

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'}, {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'}, {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [58]:
united_kingdom.append({
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
  })

print(united_kingdom)

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'}, {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'}, {'name': 'England', 'population': 53010000, 'capital': 'London'}, {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [59]:
for item in united_kingdom:
    print(item["name"])

Scotland
Wales
England
Northern Ireland

In [60]:
total_pop = 0
for item in united_kingdom:
    total_pop += item["population"]

print(f"total population in the uk:{total_pop}")

total population in the uk:63179000

## Q2

In [61]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [62]:
users["Jonathan"]["twitter"]

'jonnyt'

In [63]:
users["Erik"]["home_town"]

'Linlithgow'

In [64]:
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [67]:
users["Avril"]["pets"][0]["species"]

'snake'

In [68]:
min(users["Erik"]["lottery_numbers"])

8

In [72]:
def is_even(x): return x % 2 == 0

lot_nums_avril = users["Avril"]["lottery_numbers"]
evens = list(filter(is_even, lot_nums_avril))
 
print(f"Avril lottery numbers:{lot_nums_avril} \nof which are even numbers:{evens}")

Avril lottery numbers:[12, 14, 33, 38, 9, 25]
of which are even numbers:[12, 14, 38]

In [73]:
users["Erik"]["lottery_numbers"].append(7)
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24, 7]

In [74]:
users["Erik"]["home_town"] = "Edinburgh"
users["Erik"]["home_town"]

'Edinburgh'

In [81]:
users["Erik"]["pets"].append({
    'name':'Fluffy',
    'species':'dog'
})

users["Erik"]["pets"]

[{'name': 'nemo', 'species': 'fish'},
 {'name': 'kevin', 'species': 'fish'},
 {'name': 'spike', 'species': 'dog'},
 {'name': 'rupert', 'species': 'parrot'},
 {'name': 'Fluffy', 'species': 'dog'}]

In [82]:
users["Jeff"] = {
    "twitter": "mynameis",
    "lottery_numbers": [1, 2, 3, 4, 5, 6],
    "home_town": "Edinburgh",
    "pets": [
      {
        "name": "fenton",
        "species": "dog"
      }
    ]}

In [83]:
print(users)

{'Jonathan': {'twitter': 'jonnyt', 'lottery_numbers': [6, 12, 49, 33, 45, 20], 'home_town': 'Stirling', 'pets': [{'name': 'fluffy', 'species': 'cat'}, {'name': 'fido', 'species': 'dog'}, {'name': 'spike', 'species': 'dog'}]}, 'Erik': {'twitter': 'eriksf', 'lottery_numbers': [18, 34, 8, 11, 24, 7], 'home_town': 'Edinburgh', 'pets': [{'name': 'nemo', 'species': 'fish'}, {'name': 'kevin', 'species': 'fish'}, {'name': 'spike', 'species': 'dog'}, {'name': 'rupert', 'species': 'parrot'}, {'name': 'Fluffy', 'species': 'dog'}]}, 'Avril': {'twitter': 'bridgpally', 'lottery_numbers': [12, 14, 33, 38, 9, 25], 'home_town': 'Dunbar', 'pets': [{'name': 'monty', 'species': 'snake'}]}, 'Jeff': {'twitter': 'mynameis', 'lottery_numbers': [1, 2, 3, 4, 5, 6], 'home_town': 'Edinburgh', 'pets': [{'name': 'fenton', 'species': 'dog'}]}}

In [84]:
users["Jeff"]

{'twitter': 'mynameis',
 'lottery_numbers': [1, 2, 3, 4, 5, 6],
 'home_town': 'Edinburgh',
 'pets': [{'name': 'fenton', 'species': 'dog'}]}